body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
}

.body-wrap {
  background-color: #000;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.title {
  margin-top: 10px;
  letter-spacing: 5px;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players-choice {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5vh;;
  transition: 1s;
}

.players-choice div {
  padding: 5px 20px;
  background-color: #000;
  color: rgb(81, 81, 81);
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 3px;
  border: 2px solid rgb(81, 81, 81);
  border-radius: 5px;
  cursor: pointer; 
  transition: .15s;
}

.players-choice .active {
  border: 2px solid #fff;
  color: #fff;
  transition: .25s;
  -webkit-box-shadow: -1px 7px 22px 0px rgba(176, 176, 176, 0.318);
  box-shadow: -1px 7px 22px 0px rgba(176, 176, 176, 0.318);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: .5s;
}


.square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
  cursor: pointer;
}

.square.top {
  border-bottom: 3px solid white;
}

.square.left {
  border-right: 3px solid white;
}

.square.right {
  border-left: 3px solid white;
}

.square.bottom {
  border-top: 3px solid white;
}

.score-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.score-board div {
  transition: .5s;
}

.score-board .score {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-height: auto;
  letter-spacing: 4px;
  transition: 1s;
}

.score .points {
  min-height: 50px;
  font-size: 40px;
  font-weight: 900;
}

footer {
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.git-link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.git-logo {
  content: url(./images/GitHub-Mark-Light-64px.png);
  height: 18px;
  margin-left: 8px;
  transition: .3s;
}

.git-logo:hover {
  cursor: pointer;
  transition: .3s;
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .board {
    grid-template-columns: repeat(3, 120px);
    grid-auto-rows: 120px;
  }

  .square {
    width: 120px;
    height: 120px;
  }
}